.home{
    display:flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.name_user,.name_default{
    font-size:26px;
    font-weight:600;
}

.service{
    display: inline-block;
    margin: 10px 0 0 20px;
    width: 100%;
    /* max-width: 450px; */
    height: 77vh;
    gap: 10px;
}

.container_retour{
    margin-bottom: 10px;
}

.service .container_cocktail{
    display: flex;
    /* justify-content: start; */
}

.description{
    margin-left: 10px;
}

.ckt_image{
    object-fit: cover;
    width:50%;
    border: none;
    border-radius: 30px;
}
.service div{
    font-size: 20px;
}

.service div.title{
    font-weight: 900;
}
